body{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


h2{
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-size: 1.5rem;
}

/* Headings */
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
/* Title Section */
#title{
    background: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px 0 0;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/* Download Button */
.download-btn{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 12%;
}
@media (max-width: 992px) {
    .title-container{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* Features Section */
#features{
    padding: 7% 15%;
    background: #fff;
    position: relative;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
.feature-para{
    color: #8f8f8f;
}
.feature-box{
    text-align: center;
    padding: 3.5%;
}

/* testimonial section */

#testimonials{
    text-align: center;
    background: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 35px 20px;
}

#item-1, #item-2{
    padding: 8% 15%;
}

/* Press section */

#press{
    background: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 14%;
    margin: 20px 30px 50px;
}

/* Pricing Section */

#pricing{
    padding: 8% 15%;
    text-align: center;
}
.pricing-boxes{
    margin-top: 4%;
}
.price-box{
    /* margin: 4% 0; */
    padding: 12px;
}

/* CTA section */
#cta{
    background: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 6% 0;
}
.cta-heading{
    padding: 1.5% 22.5%;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* footer section */
#footer{
    text-align: center;
    padding: 4%;
}
.social-icon{
    padding: 6px;
    cursor: pointer;
}
.copyright-para{
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    color: #8f8f8f;
}